{{#if withoutResources}}
    <div class="notification warning">{{localize "PF2E.Item.Ability.CraftedItem.CraftedWithoutResources"}}</div>
{{/if}}

<div class="description" data-auto-collapse>
    {{{description}}}
</div>

{{#if (or selfEffect craftedItem activate)}}
    <div class="message-buttons">
        {{#if craftedItem}}
            <div class="crafted-item">
                {{{localize "PF2E.Item.Ability.CraftedItem.Crafted" item=craftedItem}}}
            </div>
        {{/if}}
        {{#if selfEffect}}
            <button type="button" data-action="applyEffect" data-targets="{{actor.uuid}}" data-visibility="owner">
                {{localize "PF2E.Action.ApplyEffect"}}
            </button>
        {{/if}}
        {{#if activate}}
            <button type="button" data-action="activate" data-uuid="{{activate.uuid}}" data-visibility="owner">
                {{localize "PF2E.Item.Activation.Activate"}}
            </button>
        {{/if}}
        {{#if strike}}
            <div class="attack-buttons" data-item-uuid="{{strike.item.uuid}}" data-attack-slug="{{strike.slug}}">
                {{#each strike.variants as |variant index|}}
                    <button type="button" data-action="strike" data-variant-index="{{index}}" data-visibility="owner">
                        {{#if (eq index 0)}}
                            <span>
                                <span class="name">{{localize "PF2E.WeaponStrikeLabel"}}</span>
                                <span class="action-glyph">{{@root.strike.glyph}}</span>
                                {{variant.label}}
                            </span>
                        {{else}}
                            {{localize "PF2E.MAPAbbreviationLabel" penalty=variant.penalty}}
                        {{/if}}
                    </button>
                {{/each}}
            </div>
        {{/if}}
    </div>
{{/if}}
